<ion-view view-title="Leave Plan" ng-controller="leavePlan_controller" class="custom_background" ng-init="init()">

    <div id="loader" ng-show="loader">
        <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top:75%;">
            <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="40"></md-progress-circular>
        </div>
    </div>

    <ion-header-bar class="bar-positive">
        <md-button ng-click="close()" style="float:left;background-color:transparent;box-shadow:none;top:-12px;margin-left: -10px;" class="md-fab">
            <i class="fa fa-arrow-left" style="color:#fff;font-size:25px;"></i>
        </md-button>
        <h3 class="md-flex">My Team Leave Plan</h3>

        </div>
    </ion-header-bar>

    <ion-content>
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <md-content flex layout-padding class="custom_background">
                <div ng-show="showrecords">
                <md-list class="custom_white">

                    <md-list-item class="employee md-3-line custom_white" ng-repeat="item in leavePlan">

                        <div class="custom_margin_list md-list-item-text">
                            <div style="margin-top:16px;">
                                <h3>{{item.userid.name}} - <span style="color:#075757;">{{item.id}}</span></h3>
                            </div>
                            <div layout="row" style="margin-top:16px;">
                                <div class="custom_left" style="width:90%"><h3><span id="highLightFont">{{ item.type_of_leave }}</span></h3></div>
                                <div class="custom_right" style="width:90%"><h3><span style="color:#616161;font-size:13px;">Applied on</span>&nbsp;<span style="color:#075757;">{{ item.leaveApplied_date | date: "mediumDate" }}</span></h3></div>
                            </div>

                            <div layout="row" style="margin-top:16px;">
                                <div class="custom_left">
                                    <div layout="column">
                                        <h3><span style="color:#145c96;">From date</span></h3>
                                        <p style="margin-top:12px;"><h3 style="color:#075757;">{{ item.from_date | date: "mediumDate" }}</h3></p>
                                    </div>
                                </div>
                                <div class="custom_right">
                                    <h3><span style="color:#145c96;">To date</span></h3>
                                    <p style="margin-top:12px;"><h3 style="color:#075757;">{{ item.to_date | date: "mediumDate" }}</h3></p>
                                </div>
                            </div>

                            <div layout="row" style="margin-top:16px;">
                                <div style="width:90%"><h3>{{ item.stat[0].status }}</h3></div>
                            </div>



                        </div>
                    <md-divider ng-if="!$last"></md-divider>

                    </md-list-item>


                </md-list>
                </div>

                <div ng-show="norecords" class="norecords"></div>


        </md-content>
    </ion-content>



</ion-view>
