<ion-view view-title="Add New Task" class="custom_white" ng-controller="addTask_controller" ng-init="init()">
    <div id="loader" ng-show="loader">
        <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top:75%;">
            <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="40"></md-progress-circular>
        </div>
    </div>

    <ion-header-bar class="bar-positive">
        <md-button ng-click="close()" style="float:left;background-color:transparent;box-shadow:none;top:-12px;margin-left: -10px;" class="md-fab">
            <i class="fa fa-arrow-left" style="color:#fff;font-size:25px;"></i>
        </md-button>
        <h3 class="md-flex">Add Task</h3>
    </ion-header-bar>


    <ion-content style="margin-bottom:50px;">

      <md-content flex layout-padding class="custom_white">

        <form name="projectform">
          <!--div layout="column"-->


              <md-input-container class="md-block">
                <label>Title</label>
                <input required md-no-asterisk name="title" ng-model="project.title" id="title">
                <div ng-messages="projectform.title.$error">
                  <div ng-message="required">This is required.</div>

                </div>
              </md-input-container>

            <md-input-container class="md-block">
                <label>Description</label>
                <input required md-no-asterisk name="description" ng-model="project.description" id="description">
                <div ng-messages="projectform.description.$error">
                    <div ng-message="required">This is required.</div>

                </div>
            </md-input-container>

            <md-input-container style="width:100%;">
                <label>Priority</label>
                <md-select ng-model="project.priority">
                    <!--md-option><em>None</em></md-option-->
                    <md-option value="3">High</md-option>
                    <md-option value="1">Medium</md-option>
                    <md-option value="2">Low</md-option>
                </md-select>
            </md-input-container>

            <div>
                <label>Assigned to</label>
            <md-chips ng-model="selectedVegetables" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
                <md-autocomplete md-selected-item="project.Assignedto" md-selected-item-change="getEMPID(item._id)" md-search-text="name" md-items="item in emp_details | filter:name" md-item-text="item.name" style="margin:0;">
                    <span md-highlight-text="item">{{item.name}}</span>
                    <md-not-found>
                        <div class="chip-not-found">Not found.</div>
                    </md-not-found>
                </md-autocomplete>
                <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
          <!--em>({{$chip.type}})</em-->
        </span>
                </md-chip-template>
            </md-chips>
            </div>


            <!--md-autocomplete required
                             md-search-text="name"
                             md-selected-item="project.Assignedto"
                             md-selected-item-change="getEMPID(asmObj._id)"
                             md-items="asmObj in emp_details | filter:name"
                             md-item-text="asmObj.name"
                             md-min-length="0"
                             md-floating-label="Assigned To" flex="100">
                <md-item-template>
                    <span md-highlight-text="asmObj" md-highlight-flags="^i">{{asmObj.name}}</span>
                </md-item-template>
            </md-autocomplete-->



            <div flex style="padding-top:30px;">
                <span style="font-size:16px;">Due Date</span><md-datepicker md-min-date="minDate" ng-model="project.dueDate" name="dueDate"  id="dueDate" style="margin-left: -15px;"></md-datepicker>
            </div>

            <div layout="row" style="padding-top:20px;">
                <md-button style="width:30px;" class="md-raised md-primary" ng-click="addSubTask()"><i class="fa fa-plus-circle" style="color:#fff;position:relative;top:2px;font-size:22px;"></i></md-button>
                <div style="margin-left:10px;" class="custom_left50"><h4>Add Sub-task</h4></div>
            </div>

            <md-list>

                <md-list-item class="md-3-line custom_white" ng-repeat="s in subtask">

                    <div class="md-list-item-text" layout="row">
                        <div style="width:80%;"><h4>{{s.subtask}}</h4></div>
                        <div><i class="ion-close-round" ng-click="deleteCard(s)" style="float:right;"></i></div>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>

                </md-list-item>


            </md-list>

            <div class="button" ngf-select="uploadFiles($files)" ngf-multiple="false" style="border-color:grey;color:#145c96;">Upload Files</div>
            <!--button type="file" ngf-select="uploadFiles($files)" accept="*" style="border-color:grey;color:#145c96;">Upload Files</button-->
            <br><br>
            Files:

            <md-list>

                <md-list-item class="md-3-line custom_white" ng-repeat="f in files">

                    <div class="md-list-item-text" layout="row">
                        <div style="width:80%;"><h4>{{f.name}}</h4></div>
                        <div><i class="ion-close-round" ng-click="removeFile(f)" style="float:right;"></i></span></div>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>

                </md-list-item>


            </md-list>


            <!--/div-->

          </form>


      </md-content>

    </ion-content>
    <div class="bar bar-footer bar-stable">
        <div ng-click="saveTask(project)" class="custom_footerbar_full"><button ion-button block>ADD</button></div>

    </div>


</ion-view>


