<ion-view view-title="Leave Confirmation" class="custom_white" layout="column" ng-cloak ng-init="init()">

    <div id="loader" ng-show="loader">
        <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top:75%;">
            <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="40"></md-progress-circular>
        </div>
    </div>
    <ion-header-bar class="bar-positive">
        <md-button ng-click="close()" style="float:left;background-color:transparent;box-shadow:none;top:-12px;margin-left: -10px;" class="md-fab">
            <i class="fa fa-arrow-left" style="color:#fff;font-size:25px;"></i>
        </md-button>
        <h3 class="md-flex">Leave Confirmation</h3>
    </ion-header-bar>

    <ion-content style="margin-bottom:50px;">

      <md-content flex layout-padding class="custom_white">

        <form name="projectForm">

                <div layout="column">
                <h3 style="color:#424242;">{{name}}</h3>
                 <h3><span id="highLightFont">{{taskID}}</span></h3>
                 </div>
              <md-input-container class="md-block">
                <label>Employee Name</label>
                <input required md-no-asterisk name="empName" ng-model="project.empName" id="empName" readonly>

              </md-input-container>

            <md-input-container class="md-block">
                <label>Email Id</label>
                <input required md-no-asterisk name="emailid" ng-model="project.emailid" id="emailid" readonly>

            </md-input-container>

            <md-input-container class="md-block">
                <label>Reason for leave</label>
                <input required md-no-asterisk name="reasonL" ng-model="project.reasonL" id="reasonL" readonly>

            </md-input-container>

              <md-input-container class="md-block">
                <label>Leave Applied On</label>
                <input required md-no-asterisk name="leaveAOn" ng-model="project.leaveAOn" id="leaveAOn" readonly>

              </md-input-container>

            <md-input-container class="md-block" ng-show="IfHalfDay">
                <label>Leave Day</label>
                <input required md-no-asterisk name="leavetDy" ng-model="project.leaveDy" id="leavetDy" readonly>

            </md-input-container>

            <md-input-container class="md-block">
                <label>Leave Type</label>
                <input required md-no-asterisk name="leavetyp" ng-model="project.leavetyp" id="leavetyp" readonly>

            </md-input-container>

            <md-input-container class="md-block">
                <label>Remaining Leave</label>
                <input required md-no-asterisk name="remainingL" ng-model="project.remainingL" id="remainingL" readonly>

            </md-input-container>

            <md-input-container class="md-block">
                <label>No. of days</label>
                <input required md-no-asterisk name="no_OfDays" ng-model="project.no_OfDays" id="no_OfDays" readonly>

            </md-input-container>


            <div layout="row">
                <md-input-container class="md-block">
                    <label>From date</label>
                    <input required md-no-asterisk name="fdate" ng-model="project.fdate" id="fdate" readonly>

                </md-input-container>
                <md-input-container class="md-block">
                    <label>To Date</label>
                    <input required md-no-asterisk name="tdate" ng-model="project.tdate" id="tdate" readonly>

                </md-input-container>
            </div>


            <md-input-container class="md-block">
                <label>Manager Name</label>
                <input required md-no-asterisk name="manager" ng-model="project.manager" id="manager" readonly>

            </md-input-container>



            <md-input-container class="md-block">
                <label>Remarks by manager</label>
                <input required md-no-asterisk name="remarksbymng" ng-model="project.remarksbymng">

            </md-input-container>

            <md-input-container class="md-block" ng-show="RMBYHR">
                <label>Remarks by hr</label>
                <input required md-no-asterisk name="remarksbyhr" ng-model="project.remarksbyhr">

            </md-input-container>

            <div layout="column" ng-show="documents != null">
                <div layout>
                    <span class="md-body-1">Files</span>
                </div>
                <md-list-item class="md-3-line custom_white">

                    <div class="md-list-item-text" layout="row">
                        <div style="width:80%;" ng-click="downloadDOC()"><h4>{{documents}}</h4></div>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>

                </md-list-item>
            </div>


            <!--/div-->
            <!--div layout="row">
                <md-button ng-click="ConfirmActionA(project)" id="card_login_btn" class="custom_btn" style="width:50%">Approve</md-button>
                <md-button ng-click="ConfirmActionR(project)" id="card_login_btn" class="custom_btn" style="width:50%">Reject</md-button>

            </div>
            <center><md-button ng-click="Revert(project)" id="card_login_btn" class="custom_btn">Revert</md-button></center-->
          </form>



      </md-content>
    </ion-content>
    <div class="bar bar-footer bar-stable" ng-show="true" ng-if="checkLeaveStatus != 'Completed'">
        <div ng-click="ConfirmActionA(project)" class="custom_footerbar_3" style="border-right: 1px solid grey;"><button ion-button block>Approve</button></div>
        <div ng-click="ConfirmActionR(project)" class="custom_footerbar_3" style="border-right: 1px solid grey;"><button ion-button block>Reject</button></div>
        <div ng-click="Revert(project)" class="custom_footerbar_3"><button ion-button block>Revert</button></div>

    </div>

</ion-view>


