<md-dialog ng-controller="forgetPassword_controller" class="custom_white" style="width:85%;">
    <form ng-cloak>
        <md-toolbar style="background-color:#145c96;">
            <div style="margin-top:15px;">
            <h3 class="md-flex title_text" style="margin-left: 25px;">Forgot Password</h3>
            </div>
        </md-toolbar>


        <md-dialog-content style="color:#fff;padding: 6px;">
            <md-input-container class="md-block" style="margin-top:20px;">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-svg-src="img/icons/mail_outline_24px.svg" class="email"></md-icon>
                <input ng-model="user.email" id="reset_email" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" style="border-top:1px solid #BDBDBD;">
            <md-button ng-click="resetPassword()">
                Reset
            </md-button>
            <!--span flex></span-->
            <md-button ng-click="cancel()">
                Close
            </md-button>

        </md-dialog-actions>



    </form>
</md-dialog>