<ion-view view-title="Profile Details" ng-controller="employeeProfile_controller" class="custom_background" id="popupContainer" ng-init="init()">

  <ion-header-bar class="bar-positive">
    <md-button ng-click="goBack()" style="float:left;background-color:transparent;box-shadow:none;top:-12px;margin-left: -10px;" class="md-fab">
      <i class="fa fa-arrow-left" style="color:#fff;font-size:25px;"></i>
    </md-button>
    <h3 class="md-flex">Profile Details</h3>
    <!--md-button ng-click="goBack()" style="float:right;background-color:transparent;box-shadow:none;top:-12px;" class="md-fab">
      <i class="fa fa-times" style="color:#fff;font-size:25px;"></i>
    </md-button-->
    
  </ion-header-bar>

<div class="bar bar-subheader" style="height:auto;">
  <section style="width:100%;">
    <md-card>
      
      <md-card-content style="padding:0px;">
        
        <md-list-item class="md-3-line">
          <img ng-src="{{emp_pic}}" style="width:90px;height:90px;" class="md-avatar" />
          <div class="md-list-item-text" layout="column">
            <h3><span id="highLightFontEMP">{{emp_name}}</span></h3>
            <h4>{{emp_mail}}</h4>
            <p>Joining Dt. {{emp_joiningDT | date:'mediumDate'}}</p>
          </div>
        </md-list-item>
        
      </md-card-content>
      
    </md-card>
  </section>
</div>

    <ion-content class="wrapper140">
      <md-content flex layout-padding class="custom_background">
        <section layout="column">
            <md-list flex>

              <md-list-item class="md-3-line profile custom_white" ng-click="getEmployeeDetails()">

                <div class="custom_margin_list md-list-item-text" layout="row">

                    <div class="custom_emp_left_p"><h3><span id="highLightFont">Employee Details</span></h3></div><div class="arrow_right custom_emp_right"><i class="fa fa-chevron-right custom_arrow"></i></div>

                </div>
                <md-divider></md-divider>

              </md-list-item>

              <md-list-item class="md-3-line profile custom_white" ng-click="getEmpPersonalDetails()">

                <div class="custom_margin_list md-list-item-text" layout="row">

                  <div class="custom_emp_left_p"><h3><span id="highLightFont">Personal Details</span></h3></div><div class="arrow_right custom_emp_right"><i class="fa fa-chevron-right custom_arrow"></i></div>

                </div>
                <md-divider></md-divider>

              </md-list-item>

              <md-list-item class="profile md-3-line custom_white" ng-click="getEmpContact()">

                <div class="custom_margin_list md-list-item-text" layout="row">

                  <div class="custom_emp_left_p"><h3><span id="highLightFont">Emergency Contact</span></h3></div><div class="arrow_right custom_emp_right"><i class="fa fa-chevron-right custom_arrow"></i></div>

                </div>
                <md-divider></md-divider>

              </md-list-item>

              <md-list-item ng-show="showOnlyAccountHolder" class="md-3-line profile custom_white" ng-click="getAccountInfo()">

                <div class="custom_margin_list md-list-item-text" layout="row">

                  <div class="custom_emp_left_p"><h3><span id="highLightFont">Account Information</h3></div></div><div class="arrow_right custom_emp_right"><i class="fa fa-chevron-right custom_arrow"></i></div>

                </div>
                <md-divider></md-divider>

              </md-list-item>

              <md-list-item class="md-3-line profile custom_white" ng-click="getProjectInfo()">

                <div class="custom_margin_list md-list-item-text" layout="row">

                  <div class="custom_emp_left_p"><h3><span id="highLightFont">Projects</span></h3></div><div class="arrow_right custom_emp_right"><i class="fa fa-chevron-right custom_arrow"></i></div>

                </div>
                <md-divider></md-divider>

              </md-list-item>
            </md-list>



        </section>

      </md-content>

      </ion-content>
</ion-view>
